body{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.fa.fa-hand-spock-o.icon_opener{
  font-size: 100px;
}

.tweet{
  font-size: 64px;
  font-weight: 200;
}

.color_block{
  background-color: #5BC8AC;
  min-height: 100px;
  margin-bottom: 50px;
}

.page_margin{
  margin-left:35px;
  margin-right:35px;
}

.navbar.navbar-default{
  margin-top: 20px;
  background-color: #5BC8AC;
  border: none;
}

.navbar-brand{
  padding-top: 5px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > .active > a {
  font-weight: 600;
  background-color: #5BC8AC;
  border-radius: 3px;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #98DBC5;
  border-radius: 3px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #98DBC5;
  border-radius: 3px;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover.btn-primary {
  background-color: #286090;
}

.navbar-default .navbar-nav > li > a:hover.btn-danger{
  background-color: #c9302c;
}

.navbar-nav > li > a {
  margin-top: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.form-inline .form-control.tweet_ctrl {
  min-width: 400px;
  text-align: center;
  padding: 32px;
}