.button {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 4px;
  border-color : blue;
}

div.tweets {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  border-color : black
}
