<h1>Create a New Tweet</h1>
<form action="/tweets" method="post">
  <label for="tweet_content">Content:</label><input id="tweet_content" type="textarea" name="tweet[content]" required>
  <input type="submit" value="Create Tweet">
</form>
