<h1>Create tweet page</h1>

<form action="/tweets" method="post">
  <p>Content:</p>
  <br></br>
  <p><input type="text" name="content"></p>

  <input class="btn btn-primary" type="submit" value="submit">
</form>
