<div id="main" class="wrapper">
  <h1>Create a tweet!</h1>

  <% if flash.has?(:message) %>
    <p class="flash-message">
      <%= flash[:message] %>
    </p>
  <% end %>

  <form class="ui form" action="/tweets" method="post">
    <div class="field">
      <label for="content">Tweet</label>
      <textarea id="content" name="content" rows="8" cols="80"></textarea>
    </div>

    <div class="field">
      <input class="ui button" id="submit" type="submit" value="Submit">
    </div>
  </form>

</div>
