<form id="tweet-form" action="/tweets" method="post">
  <h1>New Tweet</h1>
  <div class="form-group">
    <label for="content">Tweet content:</label>
    <textarea class="form-control" name="content" rows="4" required></textarea>
  </div>

  <input class="btn btn-lg btn-primary" type="submit" name="submit" value="Submit" id="submit">
</form>
