<%if current_user == @tweet.user%>
  <h2>Edit Tweet</h2>
  <form action="/tweets/<%=@tweet.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="content">Content:</label>
    <textarea id="content" name="tweet[content]" rows="5" cols="30" required><%=@tweet.content%></textarea>
    <input type="submit" name="" value="submit">
  </form>
  <br>
  <br>
  <a href="/">Home</a> <a href="/tweets">View All Tweets</a> <a href="/logout">Logout</a>
<%else%>
  <p>Only the original author can edit a specific tweet.</p><br>
  <%if logged_in? then%>
    <a href="/">Home</a> <a href="/tweets">View All Tweets</a> <a href="/logout">Logout</a>
  <%else%>
    <a href="/">Home</a> <a href="/tweets">View All Tweets</a> <a href="/login">Login</a> or <a href="/signup">Sign-up</a>
  <%end%>
<%end%>
