<h1>Edit Tweet</h1>
<form action="/tweets/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <textarea name="content" rows="8" cols="50" value="<%= @tweet.content %>"></textarea></br>
  <input type="submit" name="submit" id="submit">
</form>
