<form id="new_tweet" method="POST" action="/tweets/<%=@tweet.id%>">
  <label for="content">Tweet:</label>
  <input id="content" type="textarea" name="tweet[content]" value="<%=@tweet.content%>"/>
  <input id="submit" type="submit" value="Send Tweet"/>
</form>
