<h5>Old tweet:</h5>
<h4><%= @tweet.content %></h4>

<h5>New tweet:</h5>
<textarea rows="6" cols="50" name="content" form="edit_form"><%= @tweet.content %></textarea>

<form id="edit_form" method=post action="/<%= @user.slug %>/tweets/<%= @tweet.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <input type="submit" id="submit" value="Edit Tweet">
</form>
