<div class="text-center">

  <h1>Welcome, <%= @username %></h1><br>
  <% @tweets.each do |t|%>
    <span class="tweet"><%= t.content %></span>
    <br><span>
      <%= "by #{t.user.username} :: <a href='/tweets/#{t.id}'>view</a>"%> 
      </span><br><br><br>    
  <% end %>
</div>