<h1>Welcome, <%= current_user.username %>!</h1>

<h2>Latest fweets:</h2>

<ul>
<% @tweets.each do |tweet| %>
  <li><%= tweet.content %></li>
  <li><a href="/tweets/<%= tweet.id %>">View fweet</a></li>
<% end %>
</ul>
