<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Welcome, <%= @user.username %></h1>
<h3>Tweets: </h3>
<% @tweets.each do |tweet| %>
  <p>
    <%= tweet.content %>
    <br/>
    <a href='/tweets/<%= tweet.id %>'>View</a>
  </p>
<% end %>
