<div class="text-center">

  <h1>Enter a new tweet:</h1><br>
  
  <form action="/tweets" method="post" class="form-inline">
  
      <input class="form-control tweet_ctrl" type="text" name="content" 
        placeholder="Tweet"><br><br>
     
    <input class="btn btn-primary btn-lrg" id="submit" 
      type="submit" value="Create">
  
  </form>
</div>