<h1>Post a Tweet</h1>
<form action="/tweets" method="POST">
  <label for="content">Tweet Status: </label>
  <input type="textarea" name="content" id="content" value="">
  <input type="submit" value="Post Tweet" id="submit">
</form>
<a href="/tweets">Go Back to Tweet Index</a>
