<p><%= @tweet.content %></p>

<a class="btn btn-info" href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="btn btn-danger" type="submit" value="Delete Tweet">
</form>
