<p>This page shows a single tweetie!</p>
<br><br>

<p><%= @tweet.content %></p>

<p>Edit Tweet!</p>

<p>Delete Tweet!</p>
<form method="post" action="/tweets/<%= @tweet.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form>

