<h3> Tweet: </h3>
  <div>
      <%= @tweet.user.username %> tweets: <%= @tweet.content %>
        <form method="post" action="/tweets/<%= @tweet.id %>/delete">
        <a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
  </div>
