<h1>this is the tweets index page</h1>
<% if logged_in? %>
  <p>Welcome, <%= current_user.username %>!</p>
  <% @tweets.each do |tweet| %>
    <%= tweet.content %> - <%= tweet.user.username %>
  <% end %>
<% else %>
  <p>you should be logged_in to see this</p>
<% end %>
