<div id="main" class="wrapper">
  <h1>Welcome, view all tweets</h1>

  <div class="actions">
    <a class="ui button action add" href="/tweets/new"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>

  <% tweets = Tweet.all %>
  <% if !tweets.empty? %>
    <ul class="tweet-list">
      <% tweets.each do |tweet|%>
      <li class="tweet-content"><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>No tweets found!</p>
  <% end %>


</div>
