<% if logged_in? %>

<div class="col-md-6 col-md-offset-3 main-content">
  <h1>Welcome, <%= current_user.username %>!</h1>

  <ul id="tweet-list">
    <% @tweets.each do |tweet| %>
      <li><%= tweet.content %> - <a href="/users/<%= tweet.user.slug %>"><%= tweet.user.username %></a></li>
    <% end %>
  </ul>
</div>

<% else %>
  <p>you should be logged_in to see this</p>
<% end %>
