<% if logged_in? %>

  <h1>Welcome, <%= current_user.username %>!</h1>

  <ul>
    <% @tweets.each do |tweet| %>
      <li><%= tweet.content %> - <%= tweet.user.username %></li>
    <% end %>
  </ul>

<% else %>
  <p>you should be logged_in to see this</p>
<% end %>
