<!-- navbar -->

<header class="ui secondary pointing menu">

  <% if logged_in? %>
    <h1><a class="ui item" href="/tweets">fwitter</a></h1>
  <% else %>
    <h1><a class="ui item" href="/">fwitter</a></h1>
  <% end %>

  <!-- right-hand side menu -->
  <div class="right menu">
    <% if !logged_in? %>
      <a class="ui item" href="/login">login</a>
      <a class="ui item" href="/signup">signup</a>
    <% else %>
      <!-- http://www.sinatrarb.com/faq.html#path_info -->
      <a class="ui item" href="/logout">logout</a>
      <% if path_info == '/tweets' %>
        <a class="ui item" href="/users/<%= current_user.slug %>">My tweets</a>
      <% elsif path_info == "/users/#{current_user.slug}" %>
        <a class="ui item" href="/tweets">All tweets</a>
      <% end %>
    <% end %>
  </div>
</header>
