<!-- navbar -->

<header class="ui secondary pointing menu">

  <% if logged_in? %>
    <h1><a class="ui item" href="/tweets">Fwitter</a></h1>
  <% else %>
    <h1><a class="ui item" href="/">Fwitter</a></h1>
  <% end %>

  <!-- right-hand side menu -->
  <div class="right menu">
    <% if !logged_in? %>
      <a class="ui item" href="/login">Login</a>
      <a class="ui item" href="/signup">Signup</a>
    <% else %>
      <a class="ui item" href="/logout">Logout</a>
      <a class="ui item" href="/tweets">All tweets</a>
      <a class="ui item" href="/users/<%= current_user.slug %>">My tweets</a>
    <% end %>
  </div>
</header>
