/* custom styles */

/* General layout */

body {

}

#main {
  min-height: calc(100vh - 145px);  
}

#main,
footer {
  padding: 24px 32px;
}


ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.tweet-actions .action {
  display: inline-block;
}

.tweet-content {
  margin-bottom: 1.0em;
}

.tweet-list {
  margin-top: 0;
  margin-bottom: 2.0em;
}


/* Typography */

h1 {
  margin-bottom: 1.0em;
}

.menu h1 {
  margin-bottom: 0;
}

.signup-form h1,
.login-form h1 {
  text-align: center;
}

li a {
  text-decoration: none;
}

/* Override Semantic-ui styles */

.ui.form .field:last-child {
  margin-bottom: 2.0em;
}

.ui.secondary.pointing.menu {
  margin-bottom: 0;
}
