/* custom styles */

/* General layout */

body {
  padding: 3.0em 2.0em;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}



/* Typography */

h1 {
  margin-bottom: 2.0em;
}

.signup-form h1,
.login-form h1 {
  text-align: center;
}

li a {
  text-decoration: none;
}

/* Override Semantic-ui styles */

.ui.form .field:last-child {
  margin-bottom: 2.0em;
}
