<h1>Made it To Usesr SIGNUP Page</h1>

<form action="/signup" method="POST">
  <input type="email" name="email" placeholder="Email:"><br><br>
  <input type="text" name="username" placeholder="Username:"><br><br>
  <input type="password" name="password" placeholder="Password:"><br><br>
  <input type="submit" value="Sign Up"><br>
</form>
