<form action="/signup" method="post">
  <p>Username: <input type="text" name="user[username]" id="username" required></p>
  <p>Email: <input type="text" name="user[email]" id="email" required></p>
  <p>Password: <input type="text" name="user[password]" id="password" required></p>
  <input type="submit" name="Sign Up" id="Sign Up">
</form>
