<form action="/signup" method="POST">
  <p>USERNAME<input type="text" name="username" id='username'> </p>
  <p>EMAIL<input type="text" name="email" id='email'> </p>
  <p>PASSWORD<input type="text" name="password" id='password'> </p>
  <input type="submit" value="Sign Up">




</form>
