<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> Sign Up </h1>
<form method="POST" action="/signup">
  <p><input type="text" name="username"> Username: </p>
  <p><input type="text" name="email"> Email: </p>
  <p><input type="text" name="password"> Password: </p>
  <input type="submit" value="Sign Up">
</form>
