<h3>Signup</h3>
<form class="" action="/signup" method="post">
  <p><label for="username">Username:</label><input id="username" type="text" name="username" required></p>
  <p><label for="email">Email:</label><input id="email" type="text" name="email" required></p>
  <p><label for="password">Password:</label><input id="password" type="password" name="password" required></p>
  <p><input type="submit" value="Signup"></p>
</form>
