<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Enter a username and password to create and account.</h2>
    <form action="users/signup" method="post">
      <label for="new_user">Username:
        <input id="new_user" name="username">
      </label><br>
      <label for="new_email">Email:
        <input id="new_email" name="email">
      </label><br>
      <label for="new_password">Password:
        <input id="new_password" name="password">
      </label><br>


      <input type="submit" value="Submit">
    </form>
  </body>
</html>
