<h1> This is the sign up page </h1>
<%= @error %>
<form action='/signup' method='post'>
  Username:
  <input type="text" name="username" > <br>
  Email:
  <input type="text" name="email" > <br>
  Password:
  <input type="text" name="password"> <br>
  Create Your Account
  <input type="submit" name="submit">
</form>
