<h2>Create an Account:</h2>
<% if flash.has?(:message) %>
  <hr>
  <p><strong><%=flash[:message]%></strong></p>
  <hr>
<% end %>
<form action="/signup" method="post">
  <p>Email:<input id="user_email "type="text" name="user[email]" required></p>
  <p>Username:<input id="user_username "type="text" name="user[username]" required></p>
  <p>Password:<input id="user_password "type="password" name="user[password]" required></p>
<input type="submit" value="Sign Up">
</form>
