<form class="" action="/login" method="post">
  <h2>Username: <input type="text" id="username" name="username" value=""></h2>
  <h2>email: <input type="text" id="email" name="email" value=""></h2>
  <h2>Password: <input type="text" id="password" name="password" value=""></h2>
  <input type="submit" name="" id="submit" value="Submit">
</form>
