Welcome,
<form action="/login" method="POST">
  USERNAME<p><input type="text" name="username" id='username'></p>
  PASSWORD<p><input type="text" name="password" id='password'></p>
  <input type="submit" name="" value="submit">
</form>
