<h1> Log In </h1>

<form method="POST" action="/login">
  <p><input type="text" name="username"> Username: </p>
  <p><input type="text" name="password"> Password: </p>
  <input type="submit" id="submit" value="Sign Up">
</form>
