<h1> This is the login Page </h1>
<%= @error %>
<form action='/login' method='post'>
  Username:
  <input type="text" name="username" > <br>
  Password:
  <input type="text" name="password"> <br>
  Create Your Account
  <input type="submit" name="submit" id="submit">
</form>
