<form method=post action="/signup">
  <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Email Address"><br></br>
  <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Username"><br></br>
  <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password"><br></br>

  <input type="submit" id="submit" value="Sign Up!">
</form>
