form action="/signup" method="post"
  ul
    li
      label for="username" Please enter your username:
      input#username type="text" name="user[username]"
    li
      label for="email" Please enter your email:
      input#email type="email" name="user[email]"
    li
      label for="password" Please enter your password:
      input#password type="password" name="user[password]"
    
    button Sign Up
