<form class="" action="/signup" method="post">
    <input type="text" name="username" value="" required>
    <input type="text" name="email" value="" required>
    <input type="password" name="password" value="" required>
    <input type="submit" value="submit">
</form>