<h1>Welcome to Fwitter - Flatiron's Own Twitter Siter</h2>

<h2>Please</h2>
<br><br>
<a href="/login"><input type="submit" value="Login" id="login"/></a>
<br><br>
<h3>or</h3>
<br><br>
<a href="/signup"><input type="submit" value="Sign Up"/></a>
