<div class="jumbotron">
  <h1 class="text-center">Welcome to Fwitter!</h1>
  <p class="text-center">
    Fwitter is: <em>"<a href="https://flatironschool.com">Flatiron School</a> Twitter"</em>.<br>
    A basic Twitter clone project built with <a href="http://www.sinatrarb.com/">Sinatra</a> by <a href="http://www.jhnnyk.io/">John Knotts</a>.
  </p>
</div>
