<div class="jumbotron">
  <h1 class="text-center">Welcome to Fwitter!</h1>
  <p class="text-center">
    Fwitter is: <em>"<a href="https://flatironschool.com">Flatiron School</a> Twitter"</em>,<br>
    a basic Twitter clone project built with <a href="http://www.sinatrarb.com/">Sinatra</a> by <a href="http://www.jhnnyk.io/">John Knotts</a>.
  </p>
  <p class="text-center">
    <a class="btn btn-lg btn-primary" href="/signup">Sign Up</a> or
    <a class="btn btn-lg btn-success" href="/login">Log In</a>
  </p>
</div>
