<!DOCTYPE html>
<html>
    <head>
        <title>Fwitter - Home</title>
    </head>
    <body>
        <h1>Welcome to Fwitter</h1>
        <a href="/login"><h2>Log In</h2></a>
        <a href="/signup"><h2>Sign Up</h2></a>
    </body>
</html>