<h1>Welcome to Fwitter</h1>

<p>Please <a href="/login">login</a> or <a href="/signup">sign-up</a> for an account.</p>
<p>Alternatively you can <a href="/tweets">view all available tweets</a> as a guest.</p>
