<div class="text-center">

  <h1>Welcome to Fwitter!</h1><br>

  <a href="/signup" class="btn btn-primary btn-lrg">Sign Up!</a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/login" class="btn btn-info btn-lrg">Log In</a>

</div>