<p>
  <label for="">Create A New Account</label>
  <br>
  <button id="signup_b" onclick="window.location.href='/signup'">Sign Up</button>
</p>

<p>
  <label for="">Log In To An Existing Account</label>
  <br>
  <button id="login_b" onclick="window.location.href='/login'">Log In</button>
</p>
