<div class="text-center">

  <div><i class="fa fa-hand-spock-o icon_opener"></i></div>

  <h1>Welcome to Fwitter!</h1><br>

  <% if !session[:user_id] %>
    <a href="/signup" class="btn btn-primary btn-lrg">Sign Up!</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/login" class="btn btn-info btn-lrg">Log In</a>
  <% end %>
  
</div>