<!doctype html>
<html>
  <head>
    <title>Welcome to Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Fwitter </h1>
      <a href="/tweets">Tweets</a>

      <%=yield%>
    </div>

  </body>
</html>
