<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body align="center">
    <a style="padding: 5px;" href="/signup">Sign Up</a>
    <a style="padding: 5px;" href="/login">Log In</a>
    <a style="padding: 5px;" href="/logout">Logout</a>
    <h1>[̲̅F̲̅][̲̅w̲̅][̲̅i̲̅][̲̅t̲̅][̲̅t̲̅][̲̅e̲̅][̲̅r̲̅]</h1>
    <%=yield%>
  </body>
</html>
