<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fwitter!</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <h4>Welcome to Fwitter! (Flatiron Twitter)</h4>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>A <a href="http://www.sinatrarb.com/">Sinatra</a> Project by <a href="http://www.jhnnyk.io/">John Knotts</a></p>
    </footer>
  </body>
</html>
