<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome to Fwitter</h1>

    <% if logged_in? %>
      <p>Welcome, <strong><%=current_user.username%></strong></p>
    <% end %>

    <% if flash.has?(:m) %>
      <hr>
      <%= flash[:m] %>
      <hr>
    <% end %>

  <%=yield%>

  </body>
</html>
