<h1>Log in</h1>

<form method = "POST" action = "/login">

  <label> Username: </label>
  <input type = "text" name = 'username' id='user_username'/>

  <label> Password: </label>
  <input type = "text" name = 'password' id='user_password'/>

  <input type = "submit" name = "submit" id = "submit"/>
