<h1>Login</h1>
<form action="/login" method="POST">
<label>Username: <input type="text" name="username"/></label>
<br><br>
<label>Password: <input type="password" name="password"/></label>
<br><br>
<input type="submit" value="Login" id="submit"/>
</form>
<p>or</p>
<form action="/signup" method="GET">
<input type="submit" value="SignUp"/>
</form>
