<h1>Sign Up</h1>
<form action="/signup" method="POST">
<label>Username: <input type="text" name="username"/></label>
<br><br>
<label>Email: <input type="text" name="email"/></label>
<br><br>
<label>Password: <input type="password" name="password"/></label>
<br><br>
<input type="submit" value="Sign In" />
</form>
